*{
  padding: 0;
  margin: 0 auto;
}
body{
  width: 970px;
}
#pokemon{
  width: 500px;
  display: inline-block;
  margin-top: 25px;
}
#pokemon img{
  width: 20%;
}
#wrapper{
  width: 470px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: fixed;
}
#pokedex{
  width: 100%;
}
#logo{
  width: 100%;
  margin: 25px auto;
}
#selected_img{
  position: relative;
  top: -267px;
  left: -121px;
  width: 193px;
  height: 198px;
  padding: 40px;
}
#selected_stats{
  position: relative;
  top: -542px;
  right: -126px;
  width: 176px;
  height: 220px;
  text-align: left;
  padding: 5px;
}
#selected_stats li{
  list-style-position: inside;
  margin: 0 5px;
}
#selected_stats li span{
  position: relative;
  Left: -15px;
}
#selected_stats p{
  margin: 0 5px;
}
